@{
    ViewBag.Title = Model.ViewTitle;
}

<!-- Header -->
<header class="ex-header bg-black">
    <div class="container">
        <div class="row">
            <div class="col-xl-10">
                <h2>@Model.ViewTitle</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->
