@model DevPath.Models.EmploymentListing
@{
    ViewBag.Title = "Job Details";
}

<h2>@Model.Title</h2>

<p>Company: @Model.ClientCompany.Title</p>
@Html.LabelFor(el => el.FullText)
<p>@Model.FullText</p>

