@{
    ViewBag.Title = "Contact";
}

<!-- Header -->
<header class="ex-header bg-black">
    <div class="container">
        <div class="row">
            <div class="col-xl-10">
                <h2>@ViewBag.Title</h2>


            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<div class="ex-basic-1 bg-black pb-4">
    <div class="container">

    </div>
</div>

