@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Dyno</h1>
    <p class="lead">Dyno is an ASP.NET web app for tracking your coding projects, certifications, and skills.</p>
    <p>DevPath currently has @Model users.</p>
    <p><a href="home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Use your GitHub repositories to create a portfolio page that lists your projects and skills. Add your certifications and experiences.
        </p>
        <p><a class="btn btn-default" href="account/register">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find Jobs</h2>
        <p>Find job listings that require your specific skills and experiences.</p>
        <p><a class="btn btn-default" href="employmentlistings/index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Develop yourself</h2>
        <p>See which skills and certifications are in demand - and how much they can increase your asking price.</p>
        <p><a class="btn btn-default" href="skills/index">Learn more &raquo;</a></p>
    </div>
</div>