@{
    ViewBag.Title = "Home";
}
    <!-- Header -->
    <header id="header" class="header">
        <svg class="header-bg" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1720.053 1080">
            <defs>
                <style>
                    .cls-1 {
                        fill: url(#linear-gradient);
                    }
                </style>
                <linearGradient id="linear-gradient" x1="190.62" y1="-190.62" x2="1472.363" y2="1091.123" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff4587" /><stop offset="0.156" stop-color="#ff4e86" /><stop offset="0.415" stop-color="#ff6785" /><stop offset="0.742" stop-color="#fe9082" /><stop offset="1" stop-color="#feb580" /></linearGradient>
            </defs>
            <title>header-background</title>
            <path class="cls-1" d="M1455.1,1080L72.853,1000.374A73.067,73.067,0,0,1,0,927.521V0H1720.053l-2.3,12.065-189.8,995.082C1520,1050.667,1495.165,1080,1455.1,1080Z" />
        </svg>

        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="text-container">
                        <h1>Dyno is an app for tracking web developer <span id="js-rotating">skills, projects, certifications, jobs</span></h1>
                        @*<a class="btn-solid-lg" href="#your-link">
                            <i class="fab fa-apple"></i>
                            For Apple
                        </a>
                        <a class="btn-solid-lg" href="#your-link">
                            <i class="fab fa-google-play"></i>
                            For Android
                        </a>*@
                        <a class="btn-solid-lg" href="#your-link" >
                            <i class="fab fa fa-solid fa-mobile"></i>
                            PWA
                        </a>
                        <a class="btn-solid-lg" href="#your-link">
                            <i class="fab fa fa-solid fa-server"></i>
                            API
                        </a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-5">
                    <div class="image-container">
                        <img class="img-fluid" src="~/Content/Landing_Page_Content/images/header-smartphone-dyno-screenshot.png" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->

    <!-- Features -->
    <div id="process" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Got skills?</h2>
                    <p class="p-heading">When job hunting, how do you convey to a recruiter what you can do? Many recruiters ask how many years of experience you have with each technology. What if there was a better way?</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="card-icon"><i class="fas fa-code"></i></div><h3>Track Your Progress</h3>
                            </div>
                            <div class="card-text">
                                Use your repos, certifications, and experiences to show off your skills. Connect your data to your portfolio with our API or generate a portfolio page with our platform.
                            </div>
                        </div>
                    </div> <!-- end of card -->
                    <!-- end of card -->
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="card-icon"><i class="fas fa-briefcase"></i></div><h3>Filter Jobs</h3>
                            </div>
                            <div class="card-text">
                                Find job listings that fit your skill set.
                            </div>
                        </div>
                    </div> <!-- end of card -->
                    <!-- end of card -->
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <div class="card-icon"><i class="fas fa-compass"></i></div><h3>Develop Yourself</h3>
                            </div>
                            <div class="card-text">
                                See which skills and certifications are in demand - and how much they can increase your salary.
                            </div>
                        </div>
                    </div> <!-- end of card -->
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of features -->

    <!-- Details 1 -->
    <div class="basic-2 bg-black">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="~/Content/Landing_Page_Content/images/details-1.png" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <i class="fas fa-briefcase icon-heading"></i>
                        <h2>Opportunity knocks</h2>
                        <p>Dyno compares the skills required by the jobs you want with the skills you demonstrate in your repos. Dyno pinpoints the missing skills that are holding you back and offers tips on how to demonstrate them. To take your job hunt to the next level, <a class="page-scroll" href="#download">download the app.</a></p>
                        <a class="btn-solid-reg popup-with-move-anim" href="#details-1-lightbox">Job Board</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 1 -->
    <!-- Details 1 Lightbox -->
    <!-- Lightbox -->
    <div id="details-1-lightbox" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <div class="image-container">
                    <img class="img-fluid" src="~/Content/Landing_Page_Content/images/details-1-lightbox.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Lorem Ipsum</h3>
                <hr>
                <p>Et ultrices neque ornare aenean euismod elementum nisi quis. Vitae turpis massa sed elementum tempus eg refe nom lera</p>
                <h4>Blandit Massa Enim</h4>
                <p>In aliquam sem fringilla ut morbi tincidunt augue interdum. Blandit cursus risus at ultrices mi tempus imperdiet nulla.</p>
                <ul class="list-unstyled li-space-lg">
                    <li class="media">
                        <i class="fas fa-check"></i><div class="media-body">Vel elit scelerisque mauris pellente</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i><div class="media-body">Pulvinar pellentesque tincidunt</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i><div class="media-body">Id aliquet risus feugiat in ante</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i><div class="media-body">Dolor sit amet consectetur rem</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-check"></i><div class="media-body">Adipiscing elit pellentesque hab</div>
                    </li>
                </ul>
                <a class="btn-solid-reg mfp-close page-scroll" href="#download">Download</a> <button class="btn-outline-reg mfp-close as-button" type="button">Back</button>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of details 1 lightbox -->
    <!-- Details 2 -->
    <div class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <i class="fas fa-clipboard-check icon-heading"></i>
                        <h2>That which is measured, improves</h2>
                        <p>Analyze your job search efforts with Dyno's mobile-responsive dashboard. Set daily goals and never lose track of your progress.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Log your job applications</strong> and visualize patterns.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Follow recruiters</strong> who specialize in your role.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Track job offers</strong> to compare salaries and benefits.</div>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="~/Content/Landing_Page_Content/images/details-2.png" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of details 2 -->

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
