@model DevPath.Models.Project
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>
<p>Id: @Model.Id</p>
<p>@Model.Description</p>

<a href="~/Controllers/ProjectsController.cs">~/Controllers/ProjectsController.cs</a>